body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1495px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:122px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1443px;
  height:812px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1443px;
  height:812px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:226px;
  width:360px;
  height:360px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:98px;
  width:53px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
